.about {
    margin: 0 auto;
    width: 80vw;
    
    
}
.about h2 {
    margin: 2em;
}
.about-info p{
    padding:2em;
    text-align: center;
    color: #e5e5e5;
    opacity: 80%;
}

.about-info h2 {
    text-align: center;
}

.about-container-card {
    display: flex;
    justify-content: center;
}

.about-card {
    text-align: center;
    margin: 2em;
}

.about-card p {
    color: #e5e5e5;
    opacity: 80%;
}

#censa {
    width: 150px;
    height: 150px;
}

.about-info span {
    color: #f1a600;
}