.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.main h1 {
    color: #fff;
    font-size: 5em;
}

.main span {
    color: #f1a600;
}

.main img {
    margin-top: 10px;
    cursor: pointer;
    margin-right: 25px;
}

.info-content img:hover {
    background-color: #fff;
}

#hgv {
    border: 7px;
    border: solid;
    border-color: #f1a600;
}